<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTrip</title>
    <link rel="stylesheet" href="login.css" type="text/css" />
</head>
<body>
  <header>
    <div class="HeaderMainDiv">
      <div class="TripsDiv">
        <p>Trips</p>
      </div>
      <div class="LoginDiv">
        <p id="LogInText">Log in</p>
      </div>
      <div class="ProfileDiv">
        <p>Profile</p>
      </div>
    </div>
  </header>
  <table class="UserAndPassTable">
    <tr>
      <td><label for="Username"> Username</label></td>
      <td><input type="text" name="Username" id="Username" value=""></td>
    </tr>
    <tr>
      <td><label for="Password"> Password</label></td>
      <td><input type="password"  name="Password" id="Password" value=""></td>
    </tr>
    <tr>
      <td></td>
      <td>
      <button type="button" name="LogIn" id="LogIn">Log in</button>
      <button type="button" name="SignUp" id="SignUp">Sign Up</button>
    </td>
    </tr>
  </table>
</body>
</html>
